<%= form_with model: @post do |form| %>
  <div class="mb-3 col-4">
    <%= form.label :title, class: "form-label" %><br>
    <%= form.text_field :title, class: "form-control" %>
    <% @post.errors.full_messages_for(:title).each do |message| %>
      <small class="text-danger"><%= message %></small>
    <% end %>
  </div>
  <div class="mb-3 col-4">

    <%= form.label :category, class: "form-label" %><br>
    <%= form.collection_select :category_id, @category, :id, :name, { :prompt => "select a category" }, { :class => "form-select" } %>
    <%# @post.errors.full_messages_for(:title).each do |message| %>
    <!--      <small class="text-danger"><%#= message %></small>-->
    <%# end %>
  </div>

  <div class="mb-3 col-4">
    <%= form.label :tags, class: "form-label" %><br>
<!--    <select class="form-select multiple-select" name="states[]" multiple aria-label="multiple select example">-->
      <%= form.collection_select :tag_ids, @tags, :id, :name, { :prompt => "select a category" },{ :multiple => true,:class => "form-select multiple-select" } %>

<!--    </select>-->
  </div>
  <div class="mb-3 col-4 ">
    <%= form.label :body, class: "form-label" %><br>
    <%= form.text_area :body, class: "form-control" %>
    <% if @post.errors.full_messages_for(:body) %>
      <ul class="list-group offset-1">
        <% @post.errors.full_messages_for(:body).each do |message| %>
          <li class="text-danger"><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="offset-1">
    <%= form.submit submit_text, :class => "btn btn-primary mb-3" %>
    <%= link_to "Go back", posts_path, class: "btn btn-secondary mb-3" %>
  </div>
<% end %>